<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>

    <style>
        .indent {
            margin-left: 20px;
        }
    </style>
    
    <h1>Book List</h1>
    <form method="post" action="/add_book">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        <br>
        <label for="pages_read">Pages Read:</label>
        <input type="number" id="pages_read" name="pages_read" required>
        <br>
        <button type="submit">Add Book</button>
    </form>

    <h2>Books</h2>
    <ul>
        {% for book in books %}
            <li>
                {{ book[1] }} by {{ book[2] }} 
                <p class="indent">
                    Read {{ book[3] }} pages each day!
                </p>
                <a href="/done_today/{{ book[0] }}">Done!</a>
                <a href="/delete_book/{{ book[0] }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>